# Mastodon Konfiguration
MASTODON_INSTANCE=https://mastodon.social
MASTODON_ACCESS_TOKEN=your_access_token_here

# Scheduling
POST_TIME=06:00
TIMEZONE=Europe/Berlin

# Bibel
BIBLE_TRANSLATION=ELB
BIBLE_SERVER_BASE_URL=https://www.bibleserver.com

# Losungen
LOSUNGEN_FILE=data/losungen.xml
